<div class="test-container container">
	<br>
	<div>
		<strong>Testing instructions</strong> Click on the button whose text corresponds to the <b>color</b> of the large text below. Do this as <b>quickly and accurately</b> as possible.
	</div>
	<br>
	<br>
	<div class="test-text"></div>
	<br>
	<br>
	<br>
	<div id="button_list" class="btn-toolbar" style="margin: 0;"></div>
</div>

<div class="splash-screen container hidden">
	<br>
	<div>
		<strong>Testing instructions</strong> Click on the button whose text corresponds to the <b>color</b> of the large text below. Do this as <b>quickly and accurately</b> as possible.
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="center">
		<h1 class="progress-text"></h1>
		<br>
		<div class="row">
			<div class="progress progress-striped active span7">
				<div class="bar"></div>
			</div>
		</div>
		<br>

		<button class="btn btn-large btn-start" style="text-align:center"> Start Testing </button>
		<button class="btn btn-large btn-next hidden" style="text-align:center"> Next Question </button>
	</div>
</div>

<script type='application/javascript' src='/assets/fastclick.js'></script>
<script src='/assets/tests.js'></script>
