<div class="test-container container">
	<br>
	<br>
	<br>
	<div class="test-text"></div>
	<br>
	<br>
	<br>
	<div id="button_list" class="btn-toolbar" style="margin: 0;"></div>
</div>

<div class="splash-screen container hidden">
	<br>
	<div>
		<strong> Instructions</strong> Click on the button whose text corresponds to the <b>color</b> of the large text below. Do this as <b>quickly and accurately</b> as possible.
	</div>
	<br>
	<br>
	<div class="center">
		<div class="progress progress-striped active span6">
			<div class="bar" style="width: 20%;"></div>
				<span class="progress-text" style="
									float: right;
									padding-right: 10px;
									font-weight: bold;
									">
				</span>
		</div>
		<br>
		<button class="btn btn-large btn-start" style="text-align:center"> Start Testing </button>
		<button class="btn btn-large btn-next hidden" style="text-align:center"> Next </button>
	</div>
</div>

<form method="post" type="hidden"></form>

<script type='application/javascript' src='/assets/fastclick.js'></script>
<script src='/assets/tests.js'></script>
