<div class="test-container container">
	<br>
	<div>
		<strong>Testing instructions</strong> Click on the button whose text which corresponds to the <b>color</b> of the large text below. Do this as <b>quickly and accurately</b> as possible.
	</div>
	<br>
	<br>
	<div class="test-text"></div>
	<br>
	<br>
	<br>
	<div id="button_list" class="btn-toolbar" style="margin: 0;"></div>
</div>

<div class="splash-screen container hidden">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div>
		<h1 style="text-align:left"> Progress </h1>
		<div class="progress progress-striped active">
			<div class="bar"></div>
		</div>

		<button class="btn btn-large btn-next" style="text-align:center"> Next Question </button>
	</div>
</div>

<script type='application/javascript' src='/assets/fastclick.js'></script>
<script src='/assets/tests.js'></script>
